<%- include('includes/head.ejs')  %>
  <body>
<%- include('includes/nav.ejs')  %>
    <div class="container">

        <div class="alert alert-danger mt-5" role="alert">
             Page not found!
        </div>
  
    </div>

  </body>
</html>
